@import "~react-vis/dist/style.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.default-font {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.maintain-window-height {
    max-height: calc(100vh - 36vh) !important;
}

.min-height {
    min-height: calc(100vh - 40vh) !important;
}

.max-35{
    max-height: 35vh !important;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
